body {
    background: #2A7DFF;
}

.button {
    padding: 20px;
    background: #FFFFFF;
    border-radius: 2px;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    color: #FF412A;
    user-select: none;
    display: inline-block;
}

.button:hover {
    cursor: pointer;
}

#img-container {
    height: 400px;
    margin-top: 50px;
    text-align: center;
}
#img-container img {
    height: 100%;
}

#img-footer {
    margin-top: 30px;
    text-align: center;
}
